#nav_bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 2;
}

#nav_bar .logo {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

#nav_bar .header {
  float: left;
  font-size: 200%;
  line-height: 80px;
}

#nav_bar .login_btn, #nav_bar .register_btn, #nav_bar .logout_btn, #nav_bar .compose, #nav_bar .user_id, #nav_bar .menu{
  float: right;
  font-size: 200%;
  line-height: 80px;
  margin-right: 10px;
  cursor: pointer;
}

#nav_bar .compose, #nav_bar .logout_btn, #nav_bar .user_id {
  display: none;
}

/*when the buttons active*/
.clickEffect {
  color: #84d7ef;
}
